
.btnCol{
    color:rgb(65, 18, 65);
    border-color:rgb(65, 18, 65);
    border-width:2px;
  }
  .btnCol:hover{
    color:white;
    border-color:#563d7c;
    background:#563d7c;
  
  }
  
  .inboxplane{
      background-color:rgba(220, 220, 220, 0.219);
      padding-left:30px;
  }
  .click:hover{
    color:white
  }
  .click{
    color: black;
    cursor: pointer;
   margin-left:-35px;
   background-color: #563d7c;
   opacity:.7;

  }
  #text-box{
    padding-bottom: 200px;
    
    
  }
  .force-overflow {
    min-height: 450px;
    }
    .scrollbar {
      margin-left: 20px;
      height: 565px;
      overflow-y: scroll;
      margin-bottom: 25px;
      }
  .scrollbar-lady-lips::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  height:100% ;}
    
    .scrollbar-lady-lips::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
  height: 100%;
}

    
    .scrollbar-lady-lips::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(bottom, #563d7c 0%, #fecfef 99%, #fecfef 100%);
    background-image: linear-gradient(to top, #563d7c 0%, #fecfef 99%, #fecfef 100%); }


.hide{
 display:none
}
.deleted{
  display:none
 }
.list-group-item {
  margin-bottom: 0px;
  margin-left: -35px;
}
.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}
.card {
  background-color: rgba(212, 211, 238, 0.25);
 margin-left: 10px;
 margin-top: 10px;
 margin-bottom: 30px
}
body{
  overflow: hidden;
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.img{
  padding-bottom: 200px;
  padding-left: 200px
}